.tb-navbar {
	margin-bottom: 20px;
}

.tb-nav {
	display: inline-block;
	padding: 0 20px;
	border-left: 1px solid #bbb;
	text-decoration: none;
	font-size: 1.1em;
}

.tb-nav.first {
	padding-left: 0;
	border-left: none;
}

.tb-container table {
	margin-bottom: 40px;
}

.tb-filters {
	margin-bottom: 10px;
}

.tb-filter {
	display: inline-block;
	padding-right: 20px;
	font-weight: bold;
}

.tb-filter input[type=radio] {
	margin-left: 15px;
}

.tb-filter input[type=radio].first {
	margin-left: 3px;
}

.tb-filter label {
	font-weight: normal;
}

.tb-label {
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}

.tb-chart {
	display: inline-block;
}