.tb-navbar {
	margin-bottom: 20px;
}
.tb-nav {
	display: inline-block;
	padding: 0 20px;
	border-left: 1px solid #bbb;
	text-decoration: none;
	font-size: 1.1em;
}
.tb-nav.first {
	padding-left: 0;
	border-left: none;
}

.tb-filters {
	margin-bottom: 10px;
}
.tb-filter {
	display: inline-block;
	padding-right: 20px;
	font-weight: bold;
}
.tb-label {
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}